<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QbixWinFormsLinqTest.Properties.Settings.QbixTestConnectionString"
            connectionString="Data Source=PAPA\SQLSERVER__2017;Initial Catalog=DMS_RGS_RF_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QbixPasswordsReturn.Properties.Settings.QbixTestConnectionString"
            connectionString="Data Source=PAPA\SQLSERVER__2017;Initial Catalog=DMS_RGS_RF_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QbixPasswordsReturn.Properties.Settings.DMS_RGS_RF_TESTConnectionString"
            connectionString="Data Source=PAPA\SQLSERVER__2017;Initial Catalog=DMS_RGS_RF_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>